body {
  background-image: url(https://i.imgur.com/HfsEb9k.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: Garamond, serif;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

div {
  background-color: rgba(0,0,0,.5)
}

h1 {
  font-size: 48px;
  padding-top: 15px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.dropbtn {
  background-color: #49316F;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: help;
  width: 250px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #CACBCB;
  color: #49316F;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  overflow: auto;
}

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  min-width: 218px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.show {
  display:block;
}